<div class="topPage">
  <p>ユーザー詳細ページ</p>
  <div><%= @customer.name %>
     <%= link_to(content_tag(:i, '', class: "fas fa-edit"), edit_customer_path) %>
  </div>
<div>Lv.<%= @customer.level %></div>
<div>exp<%= @customer.experience_point %></div>

    <div class="listWrapper">
        <% @tasks.each do |task| %>
        <%= render "public/tasks/index", task: task %>
      <% end %>
    </div>
    <%= paginate @tasks %>
     <div class="form-group row">
      <div class="col-2">
        <h3><strong>応援した投稿</strong></h3>
      </div>
        <%= link_to "一覧を見る",favorites_customer_path(@customer.id),class: "btn btn-outline-info" %>
     </div>
</div>



