<div class="topPage">
  <div class="listWrapper">
<div><%= @customer.name %></div>
<%= link_to "編集",edit_customer_path %>
<%= link_to "いいねした投稿",favorites_customer_path(@customer.id) %>
<%= link_to "退会する",customer_unsubscribe_path(@customer.id) %>
<div>レベル<%= @customer.level %></div>
<div>経験値<%= @customer.experience_point %></div>


<th><div><%= link_to "編集",edit_customer_path %></div></th>


<% @tasks.each do |task| %>
<div class="list">
<div class="list_header">
  <p class="list_header_title">タスク名：<%= task.title %></p>
  <p><%= link_to "#{task.task_comments.count} コメント", task_path(task.id) %></p>
</div>
</div>

      <% task.cards.each do |card| %>
      <%= link_to "しょうさい",task_card_path(task.id,card.id) %>
      <div class="card">
        <h3 class="card_title"><%= card.title %></h3>
        <% if card.memo.size > 0 %>
          <div class="card_detail is-exist"><i class="fas fa-bars"></i></div>
        <% end %>
      </div>
    <% end %>

  <div class="cardWrapper">
    <div class="addCard">
    <i class="far fa-plus-square"></i>
    <%= link_to "タスクの詳細を追加", new_task_card_path(task), class: "addCard_link" %>
  </div>
</div>
</div>




    <%= render "public/favorites/favorite", task: task %>
  <% end %>

<th><div><%= link_to "応援した投稿一覧",favorites_customer_path(@customer.id) %></div></th>
  <%= paginate @tasks %>
</div>