<h4><%= @customer.name %>さんの会員情報編集</h4>
  <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
  <table>
    <tr>
      <th><%= f.label "会員ID" %></th>
      <th><%= @customer.id %></th>
    </tr>
    <tr>
      <th><%= f.label "氏名" %></th>
      <th><%= f.text_field :name %></th>
    </tr>

    <tr>
      <th><%= f.label "メールアドレス" %></th>
      <th><%= f.text_field :email %></th>
    </tr>
    <tr>
      <th><%= f.label :about, "会員ステータス" %></th>
    	<th>
    	  <%= f.radio_button :is_deleted, false %>有効
        <%= f.radio_button :is_deleted,true %>退会
      </th>
    </tr>
  </table>
  <%= f.submit '変更を保存', class: 'btn btn-success' %>
   <% end %>