 <div class="container">
      <div class="row">
       <table class="customers">
          <thead class="thead text-center">
            <tr>
              <th><h2 class="top-header">新規会員登録</h2></th>
            </tr>
          </thead>
        </table>
         <table class="product-new mt-5">
          <tbody>
<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <tr>
  <th><%= f.label :名前 %></th>
  <th><%= f.text_field :name ,class:"col-sm-8"%></th>
  </tr>

  <tr>
    <th><%= f.label :メールアドレス%></th>
    <th><%= f.email_field :email, autofocus: true, autocomplete: "email",class:"col-sm-8" %></th>
  </tr>

  <tr>
    <th><%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em></th>
    <% end %>
    <th><%= f.password_field :password, autocomplete: "new-password",class:"col-sm-8" %></th>
  </tr>
  <tr>
  <th><%= f.label :パスワード確認 %></th>
  <th><%= f.password_field :password_confirmation, autocomplete: "new-password",class:"col-sm-8" %></th>
  </tr>

  <tr>
  <th></th>
  <td><%= f.submit "新規登録" ,class: 'button' %></td>
  </tr>
      <% end %>
    </tbody>
  </table>
  <h5 class="mx-auto mt-5">既に登録済みの方  <%= link_to "こちら", new_customer_session_path %> からログインしてください</h5>
  </div>
</div>
