<div class="topPage">
  <div class="listWrapper">
    <h1>ここはtask/index</h1>
    <% @tasks.each do |task| %>
      <div class="list">
        <div class="list_header">
        　<% if task.privacy =="1" %>
          <h2 class="list_header_title"><%= task.title %></h2>
            <div class="list_header_action">
            <%= link_to(content_tag(:i, '', class: "fas fa-edit"), edit_task_path(task)) %>
            <%= link_to content_tag(:i, '', class: 'fas fa-trash-restore-alt'), task, method: :delete, data: { confirm: "#{task.title}を削除して大丈夫ですか？" } %>
            <%= button_to '完了', done_path(task), method: :post %>
            <p><%= link_to "#{task.task_comments.count} コメント", task_path(task.id) %></p>
            <%= link_to "詳細へ",task_path(task.id) %>
            </div>
             <% elsif task.privacy == "2" && task.customer.id == current_customer.id %>
             <h2 class="list_header_title"><%= task.title %></h2>
             <div class="list_header_action">
               <i class="fas fa-key"></i>
            <%= link_to(content_tag(:i, '', class: "fas fa-edit"), edit_task_path(task)) %>
            <%= link_to content_tag(:i, '', class: 'fas fa-trash-restore-alt'), task, method: :delete, data: { confirm: "#{task.title}を削除して大丈夫ですか？" } %>
            </div>
      <% end %>
        </div>
      </div>