  <div class="topPage">
    <h1>タスク一覧</h1>
     <div class="listWrapper">
      <% @tasks.each do |task| %>
        <div class="list">
          <div class="list_header">
        　  <% if task.privacy =="1" %>
        　     <%= link_to task_path(task.id), class: "list_name" do %>
                <%= task.title %></h2>
            <% end %>
              <div class="list_header_action">
              <%= link_to(content_tag(:i, '', class: "fas fa-edit"), edit_task_path(task)) %>
              <%= link_to content_tag(:i, '', class: "fas fa-trash-restore-alt"), task, method: :delete, data: { confirm: "#{task.title}を削除して大丈夫ですか？" } %>
              <%= link_to content_tag(:i, '', class: "far fa-comment"), task_path(task.id)%>
              <%= "#{task.task_comments.count} " %>

        </div>
      </div>

            <%= button_to '完了', done_path(task), method: :post %>


      <div class="cardWrapper">
      <% task.cards.each do |card| %>
   <%= link_to task_card_path(task, card), class:"cardDetail_link" do %>
        <div class="card">
          <h3 class="card_title"><%= card.title %></h3>
          <% if card.memo.size > 0 %>
            <div class="card_detail is-exist"><i class="fas fa-bars"></i></div>
          <% end %>
        </div>
      <% end %>




  <div class="cardWrapper">
    <div class="addCard">
    <i class="far fa-plus-square"></i>
    <%= link_to "タスクの詳細を追加", new_task_card_path(task), class: "addCard_link" %>
  </div>
</div>
</div>
 <% end %>



  <% if task.favorited_by?(current_customer) %>
    <p>
      <%= link_to task_favorites_path(task), method: :delete do %>
       <i class="fas fa-flag"></i><%= task.favorites.count %> 応援する
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to task_favorites_path(task), method: :post do %>
        <i class="fas fa-flag"></i><%= task.favorites.count %>　応援する
      <% end %>
    </p>
    <% end %>

             <% elsif task.privacy == "2" && task.customer.id == current_customer.id %>
             <h2 class="list_header_title"><%= task.title %></h2>
             <div class="list_header_action">
               <i class="fas fa-key"></i>
            <%= link_to(content_tag(:i, '', class: "fas fa-edit"), edit_task_path(task)) %>
            <%= link_to content_tag(:i, '', class: 'fas fa-trash-restore-alt'), task, method: :delete, data: { confirm: "#{task.title}を削除して大丈夫ですか？" } %>
            </div>
      <% end %>




     <% end %>
     <%= paginate @tasks %>
  </div>
</div>
</div>
