<header class="header">
  <nav class="nav">
    <ul class="header_menu">
      <li class="header_menu_title"><%= link_to "Taskmasters", root_path, class: "nav-link" %></li>
      <li>
        <ul class="header_menu_inner">
          <% if customer_signed_in? %>
          <%= link_to customer_path(current_customer.id), class: "nav-link" do %>
              <span class="mr-1"><%= current_customer.name %>さん</span>
              <i class="far fa-user-circle"></i>
          <% end %>
          <div class ="text-right" >
          <%= link_to new_task_path, class: "nav-link text-right" do %>
              <span class="mr-1">タスク作成</span>
              <i class="fas fa-edit"></i>
          <% end %>
          </div>
          <%= link_to tasks_path, class: "nav-link" do%>
              <span class="mr-1"> タスク一覧</span>
              <i class="fas fa-clipboard-list"></i>
          <% end %>
          <%= link_to destroy_customer_session_path, class: "nav-link", method: :delete do %>
              <span class="mr-1"> サインアウト</span>
              <i class="fas fa-sign-out-alt"></i>
              <% end %>
            <% elsif admin_signed_in? %>
            <%= link_to tasks_path, class: "nav-link" do%>
                <span class="mr-1"> タスク一覧</span>
                <i class="fas fa-clipboard-list"></i>
              <% end %>
              <%= link_to destroy_customer_session_path, class: "nav-link", method: :delete do %>
              <span class="mr-1"> サインアウト</span>
              <i class="fas fa-sign-out-alt"></i>
              <% end %>



            <% else %>
             <div class ="text-left" >
                <%= link_to  root_path, class: "nav-link" do %>
                <span class="mr-1">about</span>
                <i class="fas fa-globe"></i>
                <% end %>
             </div>
              <%= link_to new_customer_registration_path, class: 'nav-link text-light' do %>
                <span class="icon">新規登録</span>
                <i class="fas fa-user-plus"></i>
              <% end %>
              <%= link_to new_customer_session_path, class: 'nav-link text-light' do %>
                <span class="icon">ログイン</span>
                <i class="fas fa-sign-in-alt"></i>
              <% end %>
          <% end %>
        </ul>
      </li>
    </ul>
  </nav>
</header>

